@import url("fonts.css");
@import url("a11y.css");

:root {
  /* Hugmyndaráðuneytið colors */
  --hmr-gray: rgb(57, 56, 57);
  --hmr-cyan: #009ee2;
  --hmr-green: rgb(166, 206, 57);
  --hmr-orange: #fcaf17;
  --hmr-light: rgb(237, 237, 237);

  --post-it-yellow: rgb(255, 255, 165);
  --post-it-green: rgb(179, 255, 172);
  --post-it-blue: rgb(111, 183, 214);

  /* media breakpoints */
  --bp-mobile: 480px;
  --bp-tablet: 839px;
  --bp-monitor: 1024px;

  /* grid column spans for devices */
  --grid-col-mobile: span 12;
  --grid-col-table: span 6;
  --grid-col-monitor: span 4;

  /* grid page margin for devices */
  --grid-margin-: ;
  --grid-margin-: ;
  --grid-margin-: ;
}

/* Hide elements that are only for screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  background-color: var(--hmr-gray);
  /* background: linear-gradient(159deg, rgba(57, 56, 57, 1) 14%, rgba(0, 158, 226, 1) 100%); */
  color: white;
  font-family: 'Roboto', sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  appearance: none;
  cursor: pointer;
}

.app-wrap {
  display: grid;
  grid-template-columns: 4rem repeat(12, 1fr) 4rem;
  min-height: 100vh;
}

/* Super Grid */

.grid-12-margin {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) repeat(12, minmax(0, 90px)) minmax(10px, 1fr);
  grid-column-gap: minmax(5px, 1rem);
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.span-all {
  grid-column: span 14;
}

.span-12 {
  grid-column: 2/span 12;
}


.postit {
  line-height: 1;
  text-align: center;
  width: 275px;
  margin: 25px;
  min-height: 250px;
  max-height: 250px;
  padding-top: 35px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-top: 60px solid #fdfd86;
  font-family: 'Permanent Marker';
  font-size: 22px;
  border-bottom-right-radius: 60px 5px;
  display: inline-block;
  background: #ffff88;
  color: #000;
  background: linear-gradient(135deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
}

.pi-2deg {
  transform: rotate(2deg);
}

.postit::after {
  content: "";
  position: absolute;
  z-index: -1;
  right: -0px;
  bottom: 20px;
  width: 200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 2px 15px 5px rgba(0, 0, 0, 0.40);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.social-media-link {
  filter: invert(100%) brightness(.7);
}

.social-media-link:hover {
  filter: invert(100%) brightness(.9);
}


/* loading animation */
.loading-wrap {
  position: relative;
}

.loading-wrap div {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 35px;
  border-style: solid;
  border-radius: 50%;
}

.circle-1 {
  border-width: 3px;
  border-color: white;

  animation: spin 4s linear infinite;
}

.circle-2 {
  border-width: 5px;
  border-color: var(--hmr-cyan);

  animation: spin 3.5s linear infinite;
}

.circle-3 {
  border-width: 4px;
  border-color: var(--hmr-green);

  animation: spin 3s linear infinite;
}

.circle-4 {
  border-width: 6px;
  border-color: var(--hmr-orange);

  animation: spin 4.5s linear infinite;
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


/* menu - close button animated */

.menu-button-wrapper {
  display: grid;
  grid-template-columns: .7fr .3fr;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  height: 21px;
  /* button has lines in three rows, height must be devisible by 3 */
  width: 40px;
  margin-top: 1rem;
}

.menu-button-wrapper span {
  height: 2px;
  width: 100%;
  background-color: var(--hmr-light);
}

.line-1 {
  grid-column: span 2;
  grid-row: 1 / 2;
}

.line-2 {
  grid-column: span 2;
  grid-row: 2 / 3;
  /* transform: rotate(45deg); */
}

.line-3 {
  grid-column: span 2;
  grid-row: 2 / 3;
  transform: rotate(-45deg);
}

.line-4 {
  grid-row: 3 / 4;
  width: 70%;
}
